// 定义 container 间隔
$grid-margin: 20px;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  @include flex-row;
}

.flex-column {
  @include flex-column;
}

.block {
  display: block;
}

.container {
  box-sizing: border-box;
  margin-bottom: $grid-margin;
  max-width: 750rpx;
  color: #fff;
}

.wrapper {
  background: center -178rpx / 100% no-repeat;

  icon {
    font-style: 32rpx;
  }

  .navigator {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 480rpx;
    padding: 10rpx 20rpx;
    width: 40rpx;
    border-radius: 20rpx 0 0 20rpx;
    color: white;
    background: rgba(0, 0, 0, .1);

    icon {
      font-size: 28rpx;
    }
  }

  // 顶图
  #effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 768rpx;
  }

  .now {
    position: relative;
    height: 560rpx;
    overflow: hidden;
    color: #fff;

    .location {
      padding: 0 200rpx;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 26rpx;

      icon {
        margin-right: 4rpx;
        font-size: 26rpx;
      }
    }

    .air-quality {
      position: absolute;
      top: auto;
      left: 20rpx;
      padding: 16rpx 20rpx;
      height: 28rpx;
      line-height: 28rpx;
      border-radius: 8rpx;
      color: #fff;
      background: rgba(0, 0, 0, .1);
      font-size: 24rpx;

      .circle {
        content: "";
        display: inline-block;
        margin-right: 14rpx;
        width: 8rpx;
        height: 28rpx;
        vertical-align: middle;
        border-radius: 4rpx;
      }

      .value {
        vertical-align: middle;
      }
    }

    .now-weather {
      // position: absolute;
      // top: 60%;
      // left: 0;
      margin-top: 90rpx;
      width: 100%;
      text-align: center;
      // transform: translateY(-50%);
      line-height: 1;
    }

    .temp {
      margin-bottom: 10rpx;

      text {
        display: inline-block;
        vertical-align: top;
        color: #fff;
        font-weight: lighter;
        font-family: helvetica-ultra-light;
        font-size: 240rpx;

        &.degree {
          font-size: 80rpx;
        }
      }
    }

    .cur-weather {
      position: relative;
      margin-bottom: 40rpx;
      line-height: 1;
      text-align: center;
      font-size: 32rpx;

      icon {
        margin-right: 10rpx;
        font-size: 32rpx;
      }

      .inline {
        margin-bottom: 30rpx;
        font-size: 32rpx;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .today {
        .item {
          margin-right: 16rpx;
          padding-right: 16rpx;
          border-right: 2rpx solid rgba(255, 255, 255, .4);
          text-align: right;
          font-size: 28rpx;

          &:last-child {
            text-align: left;
            padding: 0;
            margin: 0;
            border: none;
          }
        }
      }
    }

    .tips {
      line-height: 1;
      text-align: center;
    }
  }

  // 两天天气
  .two-days {
    @include flex-row;
    $gap: 24rpx;
    padding: $gap 0;
    width: 100%;
    overflow: hidden;

    .item {
      padding: 0 40rpx;
      width: 50%;
      line-height: 28rpx;
      border-right: 2rpx solid rgba(255, 255, 255, .4);
      font-size: 28rpx;

      &:last-child {
        border-right: none;
      }

      .top {
        height: 24rpx;
        margin-bottom: 26rpx;
        margin-right: -20rpx;
      }

      .date {
        float: left;
      }

      .temp {
        float: right;
      }

      .bottom {
        height: 44rpx;

        text {
          float: left;
          height: 44rpx;
          line-height: 44rpx;
        }
      }

      icon {
        float: right;
        width: 44rpx;
        height: 44rpx;
        font-size: 44rpx;
      }
    }
  }

  // 详细天气
  .weather {
    background-color: #64aadc;

    .container {
      width: 100%;
      overflow: hidden;
      background: rgba(0, 0, 0, .1);
    }
  }

  // 小时预报
  .hourly {
    .scrollX {
      position: relative;
      padding: 40rpx 0;
      width: 928rpx;
      height: 150rpx;
    }

    .item {
      @include flex-column;
      float: left;
      width: 116rpx;
      text-align: center;
    }

    .time,
    .temp {
      position: relative;
      height: 24rpx;
      line-height: 24rpx;
    }

    icon {
      margin: 20rpx auto 30rpx;
      font-size: 48rpx;
    }
  }

  //七天天气
  .week {
    position: relative;
    padding: 40rpx 0;
    min-height: 200rpx;

    .week-weather {
      @include flex-row;
      text-align: center;

      .item:first-child {
        color: #e0e0e0;
      }

      .item {
        flex: 1;

        .day,
        .date,
        .wind {
          color: #efefef;
        }

        .wind {
          margin: 0 auto 12rpx;
          width: 80rpx;
          height: 24rpx;
          line-height: 24rpx;
          overflow: hidden;
          font-size: 24rpx;
        }

        .date {
          margin: 10rpx 0 30rpx;
          font-size: 24rpx;
        }

        .wt,
        .night {
          margin: 32rpx 0 30rpx;
        }

        .wt {
          margin-bottom: 30rpx;
        }

        .night {
          margin-top: 272rpx;
        }

        icon.img {
          display: block;
          margin: 0 auto;
          font-size: 38rpx;
        }
      }
    }

    .week-chart {
      position: absolute;
      top: 212rpx;
      left: 0;
      right: 0;
      height: 372rpx;
    }

    .week-chart ec-canvas {
      width: 750rpx;
      height: 372rpx;
    }
  }

  // 生活指数
  .life-style {
    @include flex-row;
    flex-wrap: wrap;

    .item {
      box-sizing: border-box;
      padding: 50rpx 0 0;
      width: 25%;
      height: 188rpx;
      text-align: center;

      border: {
        bottom: 2rpx solid rgba(255, 255, 255, .1);
        right: 2rpx solid rgba(255, 255, 255, .1);
      }
    }

    .content {
      margin-top: 20rpx;
      font-size: 36rpx;
    }

    .title {
      height: 24rpx;
      line-height: 24rpx;
      color: #fff;
      opacity: .7;
      font-size: 24rpx;

      icon {
        margin: {
          right: 10rpx;
          top: -2rpx;
        }

        font-size: 24rpx;
      }
    }
  }

  .source {
    padding: 24rpx 0 40rpx;
    line-height: 1;
    color: #fff;
    opacity: .6;
    text-align: center;
    white-space: nowrap;
  }
}